<div class="error" *ngIf="errorTasks | async">{{ errorTasks | async}}</div>
<mat-progress-spinner
  *ngIf="(loadingTasks | async) else tasksArea"
  mode="indeterminate"
></mat-progress-spinner>
<ng-template #tasksArea>
  <div fxFlex="60%">
    <div  *ngFor="let task of tasks | async" class="cardDiv">
      <mat-card fxLayout="row" fxLayoutAlign="space-between">
        <p fxFlex="30%">Task: {{ task.title }}</p>
        <mat-form-field appearance="outline">
          <mat-label>User</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let user of users | async"
              [value]="user.name"
            >
              {{ user.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [value]="task.status">
            <mat-option value="new">New</mat-option>
            <mat-option value="in_progress">In progress</mat-option>
            <mat-option value="completed">Completed</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-fab color="primary" (click)="onRemove(task.id)" [disabled]="removeLoading | async">
            <mat-icon *ngIf="!(removeLoading | async)">delete</mat-icon>
            <mat-progress-spinner *ngIf="removeLoading | async"></mat-progress-spinner>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>



